# Carpetas generadas por Unity (no se suben)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Uu]serSettings/
/[Aa]ssets/AssetStoreTools*

# Archivos de VisualStudio / Rider / VSCode
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos autogenerados de Unity
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Archivos especificos de Mac/Windows
.DS_Store
Thumbs.db
